body{
    background: url('imagens/bolodemorandogrande.jpg') no-repeat center;
}

.quadrado{
    border: 1px solid black;
    width: 250px;
    height:250px;
    display: inline-block;
    background-color: lightgrey;
    border-radius: 10px;
}

div#q1{
    background-color:beige ;
}

div#q2{
    background-image: linear-gradient(to right, rgb(116, 116, 194),white, rgb(233, 233, 87));
}

div#q3{
    background:url('imagens/pexels-donovan-kelly-18138322.jpg') no-repeat center; 

}