@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;500&display=swap');

@font-face {
  font-family: 'guerra';
  src: url('fonts/veteran\ typewriter.otf') format('opentype'), url('fonts/veteran\ typewriter.ttf') format('truetype');
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 3em ;
}

p{
  font-family: 'guerra', sans-serif;
  font-size: 1em;
}

.f{
  font-family: 'guerra', sans-serif;
  font-size: 3em ;
  font-weight: normal;
}